<div class="page page-core page-login background-azul-allcross" >

  <div class="text-center"><h3 class="text-light text-white"><span class="text-lightred">CRM </span>AllCross</h3></div>

  <div class="container w-420 p-15 bg-white mt-40 text-center">

    <h2 class="text-light text-greensea">Acesso negado</h2>

    <h4 class="mb-0 mt-40">Você não possuir permissão para acessar este modulo!</h4>
    <div class="bg-slategray lt wrap-reset mt-40 text-center" ng-controller="LoginCtrl">
      <button class="btn btn-greensea btn-sm b-0" ng-click="voltarLogin()"><i class="fa fa-home"></i> Retornar ao início</button>
    </div>

  </div>

</div>
