<!-- Modal Devolucao Indicacao -->
    <div class="modal-header">
        <h3 class="modal-title custom-font">Devolução de Indicação</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="observacao">Motivo:</label>
          <textarea class="form-control" id="motivo" ng-model="interacao.motivoDevolucao" placeholder="Motivo Devolução" rows="2" required></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success btn-ef btn-ef-3 btn-ef-3c" ng-click="devolver(intaracao)"><i class="fa fa-arrow-right"></i> Devolver</button>
        <button class="btn btn-lightred btn-ef btn-ef-4 btn-ef-4c" ng-click="cancel()"><i class="fa fa-arrow-left"></i> Cancelar</button>
      </div>
    </div>
<!-- Modal Devolucao Indicacao -->
