<div class="page page-core page-login background-azul-allcross" ng-controller="LoginCtrl" cg-busy="[loadingLogin, loadMenu]">
    <div class="text-center"><h3 class="text-light text-white"><img src="http://imagens.allcross.com.br/logo_allcross_branca.png" alt="Logo AllCross" /></div>
    <div class="container w-420 p-15 bg-white mt-40 text-center">
        <h2 class="text-light text-greensea">Login</h2>
        <form method="post" name="form" class="form-validation mt-20" novalidate>
            <div class="form-group">
                <input type="text" name="usuario" class="form-control underline-input" placeholder="Usuário" ng-model="user.usuario" required autocomplete="on">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="Senha" class="form-control underline-input" ng-model="user.password" required autocomplete="on">
            </div>
            <div class="alert alert-primary" ng-show='isCapsLockOn'>O Caps Lock está ativado!</div>
            <div class="form-group text-left mt-5">
                <button busy-when-url="/auth-ldap" busy='<i class="fa fa-spin fa-spinner"></i><small>&nbsp;Carregando</small>' class="btn btn-primary btn-block btn-sm mb-10 " ng-click="login(user)">
                    <i class="fa  fa-lock "></i>
                    <span>Logar</span>
            </div>
        </form>
    </div>
</div>
