<div class="page">
	<div class="pageheader">
		<div class="page-bar">
			<ul class="page-breadcrumb">
				<li>
					<a href="javascript:;"><i class="fa fa-home"></i> CRM </a>
				</li>
				<li>
					<a href="javascript:;">Suporte</a>
				</li>
				<li>
					<a href="javascript:;">Cadastrar</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="pagecontent">

		<div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <section class="tile">
					<div class="tile-header dvd dvd-btm">
            <h1 class="custom-font"><strong>Abertura de </strong>Chamados</h1>

          </div>

					<div class="tile-body">
            <form name="formularioChamado" novalidate cg-busy="AberturaChamado.loadChamado">

							<h4 class="custom-font" style="text-indent: 1em;"><p>O novo sistema de Chamados foi desenvolvido com o objetivo de facilitar as atividades na abertura e acompanhamento de chamados para os colaboradores do Grupo AllCross.<br>
					<span style="text-indent: 1em;">Efetue suas solicitações referentes a  infraestrutura <b>(Internet, Email, Impressoras)</b> ou  sistemas <b>(Crm, Simulador)</b> nesta área.</span><br>
					Aproveite e deixe aqui seu <b>feed back, sugestão, reclamação ou eleogio</b> referente ao setor de T.I.<br><br></p></h4>
					<h5><span class="text-danger">*O procedimento de abertura de chamados pelo e-mail <b>chamados@allcross.com.br</b> será <b>desativado</b> nos próximos meses.</span></h5>
                <div class="form-group">
                  <label for="titulo">Título</label>
                  <input type="text" id="titulo" name="formularioChamado.titulo" class="form-control" data-ng-model="AberturaChamado.chamado.titulo" placeholder="Título" required>
                </div>
                <div  class="form-group">
                  <label for="descricao">Descrição</label>

                  <textarea id="descricao" data-ng-model="AberturaChamado.chamado.descricao" class="form-control" name="formularioChamado.descricao" placeholder="Descreva o seu problema" required></textarea>
                </div>
                <div class="form-group">

                  <button type="button" class="btn btn-success"
                  ng-click="AberturaChamado.salvar(AberturaChamado.chamado)"  data-ng-disabled="formularioChamado.$invalid">
                    <i class="fa fa-save"></i> Salvar
                  </button>
                  <button type="button" class="btn btn-lightred"
                  ng-click="AberturaChamado.limpar()"><i class="fa fa-trash-o"></i> Limpar</button>

                </div>


            </form>


					</div>
				</section>
			</div>
		</div>

	</div>

</div>
