<div class="page page-mail">

  <div class="pageheader">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <a ui-sref="app.dashboard">
            <i class="fa fa-home"></i> CRM
          </a>
        </li>
        <li>
          <a href="javascript:;">Suporte</a>
        </li>
        <li>
          <a href="javascript:;">Novos Chamados</a>
        </li>
      </ul>
    </div>
  </div>




  <div class="pagecontent">


    <div class="row">
      <div class="col-xs-12 col-md-12">



        <div class="list-group">
          <template-chamado data-ng-click="NovosChamados.designarFila(chamado, $index)" data-ng-repeat="chamado in NovosChamados.chamados track by $index" chamado="chamado">
          </template-chamado>
        </div>

      </div>
    </div>

  </div>
